* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #646464;
  font-family: Lato, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 7vw;
  color: white;
}

.banner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin-inline: 2em;
  perspective: 1250px;
}
.banner .title {
  max-width: 5em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.chat-wrapper {
  color: white;
  background-color: #0c0c0c;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 25rem;
  height: 75vh;
  overflow: hidden;
  box-shadow: 0 0 30px 0 black;
  transform: rotateX(15deg) rotateY(-20deg) rotateZ(5deg);
  resize: both;
  min-width: 200px;
  min-height: 200px;
}
.chat-wrapper > .header {
  display: flex;
  flex-direction: column;
}
.chat-wrapper > .header .header-title {
  font-size: 1.5em;
  margin: 0.5em;
}
.chat-wrapper > .header .tabs {
  display: flex;
  flex-direction: row;
}
.chat-wrapper > .header .tabs .tab {
  background-color: #303030;
  padding: 0.2em;
  width: 5em;
  text-align: left;
  margin-right: 0.25em;
  border-top: 3px solid #90cfe4;
}
.chat-wrapper > .header .tabs .tab:last-child {
  margin-right: initial;
}
.chat-wrapper > .header .tabs .tab.selected {
  background-color: #525252;
}
.chat-wrapper > .content {
  display: flex;
  flex-basis: 100%;
  flex-direction: row;
  justify-content: center;
  gap: 0.1em;
  min-height: 0;
}
.chat-wrapper > .content > .chat {
  background-color: #1a1a1a;
  padding: 0.1em;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}
.chat-wrapper > .content > .chat > .header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #444;
  border: 1px solid gray;
  width: 100%;
  min-height: 20px;
  flex-shrink: 0;
  padding-inline: 0.5em;
}
.chat-wrapper > .content > .chat > .header [data-msg-counter] {
  padding-left: 0.2em;
  font-size: 0.75em;
  opacity: 0.5;
  font-weight: bold;
}
.chat-wrapper > .content > .chat > .header [data-msg-counter].pulse {
  -webkit-animation: pulse 250ms forwards;
          animation: pulse 250ms forwards;
}
@-webkit-keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1.25);
  }
}
@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1.25);
  }
}
.chat-wrapper > .content > .chat > .header [data-msg-counter]::before {
  content: "(";
}
.chat-wrapper > .content > .chat > .header [data-msg-counter]::after {
  content: ")";
}
.chat-wrapper > .content > .chat > input.header {
  color: inherit;
  font-size: inherit;
  padding-inline: 0.25em;
  font-size: 0.75em;
  z-index: 1;
}
.chat-wrapper > .content > .chat > input.header::-moz-placeholder {
  color: #888;
}
.chat-wrapper > .content > .chat > input.header:-ms-input-placeholder {
  color: #888;
}
.chat-wrapper > .content > .chat > input.header::placeholder {
  color: #888;
}
.chat-wrapper > .content > .chat .messages-container {
  display: flex;
  gap: 0.1em;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
  overflow: hidden;
}

.message {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #111;
  font-size: 0.8em;
  overflow-wrap: anywhere;
  transition: 0.25s;
  -webkit-animation: slide-in 250ms ease-out;
          animation: slide-in 250ms ease-out;
  position: relative;
  display: flex;
}
.message:hover {
  transform: translate(1em);
}
@-webkit-keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
}
@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes slide-out {
  100% {
    transform: translateX(110%);
  }
}
@keyframes slide-out {
  100% {
    transform: translateX(110%);
  }
}
.message .options {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  left: -1em;
  height: 100%;
  cursor: pointer;
  transition: 100ms;
  width: 0.9em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.message .options:hover {
  font-weight: bold;
  filter: drop-shadow(0 0 5px white);
}
.message .content {
  padding: 0.25em 0.5em;
}
.message .user {
  font-weight: bold;
  margin-right: 0.2em;
  cursor: pointer;
}
.message .user::after {
  content: ":";
}
.message .timestamp {
  opacity: 0.5;
}
.message .emote {
  width: 20px;
  aspect-ratio: 1;
}
.message.mention {
  -webkit-animation: mention-pulse 3s infinite ease-in-out alternate;
          animation: mention-pulse 3s infinite ease-in-out alternate;
}
.message.slide-out {
  -webkit-animation: slide-out 250ms ease-in-out;
          animation: slide-out 250ms ease-in-out;
}
@-webkit-keyframes mention-pulse {
  0% {
    background-color: #361d1d;
  }
  100% {
    background-color: #552d2d;
  }
}
@keyframes mention-pulse {
  0% {
    background-color: #361d1d;
  }
  100% {
    background-color: #552d2d;
  }
}

.fakelink {
  color: #0077ff;
  text-decoration: underline;
}/*# sourceMappingURL=styles.css.map */